.container{
  text-align: center;
  background: #000;
  color: white;
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  width: 100%;
}
.cardin{
  text-align: center;
  background: black;
  color: white;
  margin: 5px;
}
.cardin p{
  color: red;
}
